# Snippets for JavaScript

snippet ' "single quotes" i
'$1'$2
endsnippet

snippet " "ru double quotes to single quotes" i
'$1'$2
endsnippet

snippet { "create block" w
{
	$1
}
endsnippet

snippet f "function" w
function ($1) {
	$2
}
endsnippet
